.order-block {
    margin: 0 auto;
    padding: 200px 0;
    max-width: 1600px;
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main/main-background.jpg);
  
    background-color: var(--order-block-color);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .h1-tag {
    margin: 0 auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
  }
  
  .order-button {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background-color: var(--hover-color);
    box-shadow: 0px 4px 4px var(--box-shadow-color);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, &:focus {
      background-color: var(--order-btn-backgrn-clr);
    }
  }
  .what-we-do-sect {
    padding-top: 0;
  }
  
  .what-we-do {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .what-we-do-img {
    margin-right: 30px;
    position: relative;
  }
  
  .what-we-do-img > .what-we-do-soaring {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--backgrd-what-we-do-soaring);
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 27px 0;
    width: 370px;
  }
  
  /* our team section */
  .our-team {
    background-color: var(--milk-color);
  }
  
  .our-team-caption {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .our-team ul {
    display: flex;
  }
  
  .team-member-block {
    margin-right: 30px;
    width: 270px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-member {
    padding: 30px 0;
    text-align: center;
    color: var(--black-color);
  }
  
  .team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
  
  .team-member-profession {
    color: var(--grey-color);
    margin: 10px 0 16px 0;
    font-weight: normal;
  }
  .icon-flex {
    justify-content: center;
  }
  
  .icon-list {
    margin-right: 10px;
  }
  
  .grey-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    fill: var(--client-logo-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover, &:focus {
    background-color: var(--hover-color);
    fill: var(--white-color);
    }
  }
  
  /* our clients section */
  .our-clients-caption {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
  }
  
  .our-client {
    margin-right: 30px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
      fill: var(--hover-color);
      border-color: var(--hover-color);
      cursor: pointer;
    }
  }
  .our-client-link {
    width: 170px;
    height: 92px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    fill: var(--client-logo-color);
    border: 1px solid var(--client-logo-color);
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover, &:focus {
        fill: var(--hover-color);
        border-color: var(--hover-color);
        cursor: pointer;
      }
  }
